@charset "utf-8";
/**
 * @name: 按钮集合
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/2/15
 * @author: qiangkailiang
 */
.btn-primary {
  width: 95px;
  height: 35px;
  background-color: #7a8ec1;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
