@charset "utf-8";
/**
 * @name:快速回复
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/03/05
 * @author: qiangkailiang
 */


//快捷回复
.jump-box {
  width: 800px;
  box-shadow: 0px 0px 40px 0px rgba(153,167,208,0.35);
  border-radius: 4px 4px 4px 0px 0px 0px 4px;
  position: absolute;
  bottom: 225px;
  left: 20px;
  background-color: #fff;
  z-index: 5;
  transform:scale(0);
  transform-origin:60px 100%;
  transition:all 0.2s linear;
  &.show{
    transform:scale(1);
  }
  &:after{
    content: '';
    position: absolute;
    @include triangle(20px,#fff,down);
    margin-left:60px;
  }
  &-header {
    text-align: center;
    width: 100%;
    background: #D9DFEC;
    padding: 20px 0;
    .jump-box-search {
      width: 372px;
      background-color: #fff;
      height: 32px;
      padding-left: 14px;
      border-radius: 4px;
    }
  }
}

.jump-box-tabs {
  @include clearfix();
  padding: 24px 55px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  .jump-box-tabs-controller {
    font-size: 14px;
    cursor: pointer;
  }
  .jump-box-prev {
    position: absolute;
    line-height: 0;
    left: 16px;
    top: 50%;
    transform:translateY(-50%)
  }
  .jump-box-next {
    position: absolute;
    right: 16px;
    line-height: 0;
    top: 50%;
    transform:translateY(-50%)
  }
  .jump-box-tabs-item {
    padding: 0 22px;
    background-color: #f7f7f8;
    height:32px;
    line-height:32px;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    margin-right: 30px;
    box-sizing: border-box;
    color:#555;
    cursor: pointer;
    &.active {
      background: #7A8EC1;
      color: #fff;
    }
  }
}
.jump-box-viewers{
  padding-left: 55px;
  margin-top: 2px;
  min-height:340px;
  overflow: hidden;
}
.jump-box-list{
  font-size: 16px;
  overflow: auto;
  max-height:205px;
  margin-left: -14px;
  &-item{
    margin:22px 0;
    cursor: pointer;
    //margin-left: -9px;
    color: #555;
    &:hover{
      color: #222;
      &:before{
        background: #0FC2B4;
      }
    }
    & > span{
      vertical-align: middle;
    }
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      @include circle(6px,#eceff6);
      margin-right: 9px;
    }
  }
}.jump-box-config-button{
   padding:8px 15px;
   background: #F9F9F9;
   border-radius: 4px;
   color: #909090;
   position: absolute;
   cursor: pointer;
   right: 40px;
   bottom: 40px;
   & > span{
     margin-left: 9px;
   }
 }