@charset "utf-8";
/**
 * @name: 蒙层
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/03/05
 * @author: qiangkailiang
 */
.main-masker{
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.64);
  z-index: 5;
}