@charset "utf-8";
/**
* @Desc：
* @Usage:
* @Notify：
* @Depend：
*
* Created by qiangkailiang on 2017/3/6
*/

.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:scale(0) translate(-50%,-50%);
  background: #000000;
  opacity:0;
  padding:20px 28px;
  border-radius: 8px;
  //transform-origin:25% 25%;
  transition:all 0.2s linear;
  .popup-text{
    font-size: 16px;
    color: #FFFFFF;
  }
  &.show{
    opacity: 0.7;
    transform:scale(1) translate(-50%,-50%)
  }
}