@charset "utf-8";
/**
 * @name:患者筛选条件
 * @desc:
 * @example:
 * @depend:
 * @date: 2017/03/05
 * @author: qiangkailiang
 */
.userlist-sortType {
  background-color: #fff;
  text-align: center;
  padding: 40px 0;
  i {
    cursor: pointer;
  }
  &-item {
    display: inline-block;
    color: #222;
    border-right: 1px solid #e4e4e4;
    padding: 0 17px;
  }
  .custom-selector {
    display: inline-block;
    cursor: pointer;

    & > h3 {
      font-weight: normal;
      font-size: 16px;
      color: #808080;
      display: inline-block;
      min-width: 30px;
    }
    .time-title {
      font-size: 14px;
      font-weight: normal;
      margin-top: 15px;
    }

    .custom-selector-second-box {
      box-shadow: 0 0 15px #666;
      background-color: #fff;
      border-radius: 5px;
      position: absolute;
      z-index: 5;
      text-align: left;
      font-size: 0;
      width: auto;
      margin-left: -20px;
      margin-top: 10px;

    }

  }
}

.custom-selector-second {
  display: none;
  width: 80px;
  font-size: 12px;
  vertical-align: top;
  text-align: left;
  box-sizing: border-box;
  padding: 0 15px;
  max-height: 310px;
  overflow: auto;
  &.custom-selector-second-list {
    right: -100%;
  }
  & > .custom-selector-item {
    margin: 15px 0;
    width: 100%;
    & > span {
      display: block;
    }
    &.active > span {
      color: #2899e6;
    }
  }
}
