/**
* @Desc：
* @Usage:
* @Notify：
* @Depend：
*
* Created by qiangkailiang on 2017/3/8
*/
.used_reply{
  left:20%;
  .jump-box-header{

    h3{
      font-size: 18px;
      color: #222222;
      font-weight: normal;
    }
  }
}